applications:
  - name: ${name}
    namespace: ${namespace}
    project: ${project}
    source:
      repoURL: ${repo_url}
      targetRevision: ${repo_branch}
      path: ${repo_path}
      directory:
        recurse: true
    destination:
      server: https://kubernetes.default.svc
      namespace: ${namespace}
    syncPolicy:
      automated:
        prune: false
        selfHeal: false
